In [ ]:
empty_tuple=()
print(empty_tuple)

()

In [ ]:
value_tuple=26,45,32
print(value_tuple)

(26, 45, 32)

In [ ]:
value_tuple="Nanu",26,45,32
print(value_tuple)

('Nanu', 26, 45, 32)

In [ ]:
value_tuple=26,45,"Hello"
print(value_tuple)

(26, 45, 'Hello')

In [ ]:
Tuple=('Hello')
print(Tuple)

Hello

In [ ]:
Tuple=('Hello')
print(type(Tuple))

<class 'str'>

In [ ]:
Tuple=('Hello',)
print(Tuple)

('Hello',)

In [ ]:
value_tuple=(26,45,"Hello")
value_tuple[1]=7
print(value_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
value1_tuple=(26,45,"Hello")
value2_tuple=7,5.6,"python"
print(value1_tuple+value2_tuple)

(26, 45, 'Hello', 7, 5.6, 'python')

In [ ]:
value1_tuple=(26,45,"Hello")
value2_tuple=7,5.6,"python"
value3_tuple=value1_tuple,value2_tuple
print(value3_tuple)

((26, 45, 'Hello'), (7, 5.6, 'python'))

In [ ]:
value_tuple=(26,45,"Hello")*2
print(value_tuple)

(26, 45, 'Hello', 26, 45, 'Hello')

In [ ]:
value_tuple=(26,45,"Hello",7.5)
print(value_tuple[3])

7.5

In [ ]:
value_tuple=(26,45,"Hello",7.5)
print(value_tuple[0:])

(26, 45, 'Hello', 7.5)

In [ ]:
value_tuple=(26,45,"Hello",7.5)
print(value_tuple[:3])

(26, 45, 'Hello')

In [ ]:
fxprint(value_tuple[:7])

(26, 45, 'Hello', 7.5, 'z', 5, 6.9)

In [ ]:
value_tuple=(26,45,"Hello",7.5)
print(value_tuple[-1])

7.5

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[-4:])

(7.5, 'z', 5, 6.9)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[:-4])

(26, 45, 'Hello')

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[::-1])

(6.9, 5, 'z', 7.5, 'Hello', 45, 26)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[::-2])

(6.9, 'z', 'Hello', 26)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[-3::])

('z', 5, 6.9)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[1:4])

(45, 'Hello', 7.5)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[::-2])

(6.9, 'z', 'Hello', 26)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[1::1])

(45, 'Hello', 7.5, 'z', 5, 6.9)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[1::3])

(45, 'z')

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[-1::-2])

(6.9, 'z', 'Hello', 26)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
print(value_tuple[1:6:2])

(45, 7.5, 5)

In [ ]:
value_tuple=(26,45,"Hello",7.5,'z',5,6.9)
del(value_tuple[1])
print(value_tuple)

TypeError: 'tuple' object doesn't support item deletion

Write a Python Program to get the input from the user for creating two lists and add the elements of one list into the other.

In [ ]:
size_of_list_1=int(input())
list_1=[]
for i in range(size_of_list_1):
  list_1.append(int(input()))
print(list_1)

3
56
43
31
[56, 43, 31]

In [ ]:
size_of_list_2=int(input())
list_2=[]
for i in range(size_of_list_2):
  list_2.append(int(input()))
print(list_2)

4
12
26
10
6
[12, 26, 10, 6]

In [ ]:
x="Hi How are you"
print(x.split())

['Hi', 'How', 'are', 'you']

In [ ]:
a=int(input())
b=list(map(int,input().split()))
print(max(b))

5
12 26 10 67 99
99

In [ ]:
a=int(input())
b=list(map(int,input().split()))
b.sort()
print(b[-2])

5
55 77 33 99 58
77

Write a Python Code to create a list of 1 to 10 elements and the list is created, create another list with only odd values.

In [ ]:
list1=list(range(1,11))
odd=list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

Write a Python program to find the largest even and largest odd number in the list.

In [ ]:
n=int(input())
b=[]
for i in range (n):
    a=int(input())
    b.append(a)
c=[]
d=[]
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
print("Largest Even Number:",c[-1])
print("Largest Odd Number:",d[-1])

5
12
99
6
6
67
Largest Even Number: 12
Largest Odd Number: 99

Write a Python program to find the union of two list.

In [ ]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
union=list(set().union(a,b))
print('The Union of two lists is:',union)

5
12
The Union of two lists is: [12, 5]

In [ ]:
x=[1,2,3]
x.append([4,5])
print(len(x))

4

In [ ]:
a={1,2,3,4}
a.pop()
print(a)

{2, 3, 4}

Write a program to print the number of repeated elements in a list?

In [ ]:
numbers = [5,3,3,3,78,90]
from collections import Counter
element_counts = Counter(numbers)
repeated_elements = {key: value for key, value in element_counts.items() if value > 1}
print(f"Number of repeated elements: {len(repeated_elements)}")
print("Repeated elements and their counts:", repeated_elements)

Number of repeated elements: 1
Repeated elements and their counts: {3: 3}

In [ ]:
numbers = [3,1,2,3]
from collections import Counter
element_counts = Counter(numbers)
repeated_elements = {key: value for key, value in element_counts.items() if value > 1}
print(f"Number of repeated elements: {len(repeated_elements)}")
print("Repeated elements and their counts:", repeated_elements)

Number of repeated elements: 1
Repeated elements and their counts: {3: 2}

In [ ]:
numbers = [5, 3, 3, 3, 78, 90]
repeated_elements = {}

for num in numbers:
    if num in repeated_elements:
        repeated_elements[num] += 1
    else:
        repeated_elements[num] = 1

# Keep only elements that appear more than once
repeated_elements = {num: count for num, count in repeated_elements.items() if count > 1}

print("Number of repeated elements:", len(repeated_elements))
print("Repeated elements and their counts:", repeated_elements)

Number of repeated elements: 1
Repeated elements and their counts: {3: 3}